---
interface Props {
  headers: string[];
}
const { headers } = Astro.props;
---
<!-- CAMBIO: Envolvemos todo en un div con `overflow-x-auto` -->
<div class="overflow-x-auto bg-white rounded-lg shadow-sm">
  <table class="w-full text-sm text-left text-slate-500 min-w-[640px]">
    <thead class="text-xs text-slate-700 uppercase bg-slate-100">
      <tr>
        {headers.map(header => (
          <th class="px-6 py-3 font-semibold">{header}</th>
        ))}
      </tr>
    </thead>
    <tbody>
      <slot />
    </tbody>
  </table>
</div>